.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  max-width: 1302px;
}

body.locked {
  overflow: hidden;
}

.btn {
  font-style: normal;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn__outline {
  color: #001D5F;
}

.btn__outline:hover {
  color: #DD6200;
}

.btn__primary {
  color: #ffffff;
  background-color: #001D5F;
}

.btn__primary:hover {
  background-color: #010D14;
}

.btn__secondary {
  color: #ffffff;
  background: #DD6200;
}

.btn__secondary:hover {
  background-color: #aa4b00;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: capitalize;
  color: #001D5F;
}

.section__title.title__center {
  text-align: center;
}

.section__title.title__secondary {
  color: #ffffff;
}

.section__subtitle {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.3px;
}

.section__subtitle.subtitle__center {
  text-align: center;
}

.section__subtitle.subtitle__secondary {
  color: #ffffff;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff"), url("../fonts/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/Robotothinitalic.woff2") format("woff2"), url("../fonts/Robotothinitalic.woff") format("woff"), url("../fonts/Robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/Robotolightitalic.woff2") format("woff2"), url("../fonts/Robotolightitalic.woff") format("woff"), url("../fonts/Robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Robotoitalic.woff2") format("woff2"), url("../fonts/Robotoitalic.woff") format("woff"), url("../fonts/Robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff"), url("../fonts/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/Robotomediumitalic.woff2") format("woff2"), url("../fonts/Robotomediumitalic.woff") format("woff"), url("../fonts/Robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff"), url("../fonts/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff"), url("../fonts/Robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff"), url("../fonts/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/Robotoblackitalic.woff2") format("woff2"), url("../fonts/Robotoblackitalic.woff") format("woff"), url("../fonts/Robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

.navbar {
  display: block;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  height: 69px;
}

.header__logo {
  width: -webkit-fill-available;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body {
  margin-top: 67px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu {
  margin-left: auto;
}

.header .menu__item a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #18171C;
}

.header .menu__item a img {
  margin-left: 20px;
}

.header .menu__item.with__submenu {
  position: relative;
}

.header .menu__item-tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 32px;
  border: 1px solid #18171C;
  border-radius: 16px;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.header .header__menu ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 12;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header .burger {
  display: none;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: none;
}

.nav {
  cursor: pointer;
}

.header__logo {
  display: none;
}

.first__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first__wrap h1 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 38px;
  color: #2D86FB;
  max-width: 427px;
}

.first__wrap p {
  max-width: 440px;
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #18171C;
  opacity: 0.5;
}

.default__btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #18171C;
  background: #FAE10B;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 21.5px 47.5px;
}

.first__socail {
  min-width: 510px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(24, 23, 28, 0.5);
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

.first__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

.first__social-link a {
  min-width: 80px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e8e8e8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

.first__wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
}

.first__line {
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30px;
  margin-top: -9px;
}

.first__line span {
  height: 331px;
  border-left: 1px solid #18171C;
  display: block;
}

.first__line p {
  margin-right: 20px;
  margin-top: 86px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1;
  min-width: 140px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  /* Black */
  color: #18171C;
}

.about {
  z-index: 2;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: -77px;
  min-height: 908px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 134, 251, 0)), color-stop(1.36%, rgba(45, 134, 251, 0.15)), color-stop(2.61%, rgba(45, 134, 251, 0.7)), color-stop(3.64%, #2D86FB), color-stop(35.94%, #2D86FB), color-stop(85.56%, #2D86FB), color-stop(89.34%, rgba(45, 134, 251, 0.9)), color-stop(91.87%, rgba(45, 134, 251, 0.75)), color-stop(94.39%, rgba(45, 134, 251, 0.55)), to(rgba(45, 134, 251, 0)));
  background: -o-linear-gradient(top, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.15) 1.36%, rgba(45, 134, 251, 0.7) 2.61%, #2D86FB 3.64%, #2D86FB 35.94%, #2D86FB 85.56%, rgba(45, 134, 251, 0.9) 89.34%, rgba(45, 134, 251, 0.75) 91.87%, rgba(45, 134, 251, 0.55) 94.39%, rgba(45, 134, 251, 0) 100%);
  background: linear-gradient(180deg, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.15) 1.36%, rgba(45, 134, 251, 0.7) 2.61%, #2D86FB 3.64%, #2D86FB 35.94%, #2D86FB 85.56%, rgba(45, 134, 251, 0.9) 89.34%, rgba(45, 134, 251, 0.75) 91.87%, rgba(45, 134, 251, 0.55) 94.39%, rgba(45, 134, 251, 0) 100%);
}

.about__title {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  padding-top: 117px;
  /* White */
  color: #FFFFFF;
}

.about__subtitle-list {
  max-width: 915px;
}

.about__subtitle-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.about__subtitle-list ul li {
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.about__subtitle-list ul li:last-child {
  border-bottom: none !important;
}

.cases {
  margin: 120px auto !important;
  max-width: 1920px;
  padding-left: 165px;
}

.cases__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 76px;
  color: #18171C;
}

.cases__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 165px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cases__btns {
  height: 68px;
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px;
  gap: 5px;
  background: #FFFFFF;
  /* Black */
  position: relative;
  border: 1px solid #18171C;
  border-radius: 16px;
}

.cases__btns span {
  height: 1px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 28px;
  border-bottom: 1px solid #18171C;
}

.swiper__container {
  padding-bottom: 71px;
  height: 493px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 8px 0px #2D86FB;
          box-shadow: 8px 8px 0px #2D86FB;
  border-radius: 40px;
}

.swiper__photo {
  min-width: 352px;
}

.swiper__description {
  margin-left: 61px;
}

.swiper__name {
  font-style: normal;
  font-size: 64px;
  line-height: 75px;
  color: #2D86FB;
}

.swiper {
  padding: 20px 0px !important;
}

.swiper__subtitle {
  margin-top: 48px;
}

.swiper__subtitle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.swiper__subtitle p {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* Black */
  color: #18171C;
}

.swiper__subtitle p span {
  display: inline-block !important;
}

.swiper__subtitle span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* Black */
  color: #18171C;
}

.swiper-button-next {
  min-width: 28px !important;
  height: 28px !important;
  position: initial !important;
  background: url("../img/IconRight.svg");
  background-repeat: no-repeat;
  -ms-flex-item-align: end !important;
      align-self: end !important;
}

.swiper-button-prev {
  min-width: 28px !important;
  -ms-flex-item-align: end !important;
      align-self: end !important;
  height: 28px !important;
  position: initial !important;
  background: url("../img/IconLeft.svg");
  background-repeat: no-repeat;
}

.reviews {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 134, 251, 0)), color-stop(2.2%, rgba(45, 134, 251, 0.15)), color-stop(3.86%, rgba(45, 134, 251, 0.3)), color-stop(5.11%, rgba(45, 134, 251, 0.5)), color-stop(6.54%, rgba(45, 134, 251, 0.7)), color-stop(7.85%, rgba(45, 134, 251, 0.85)), color-stop(9.34%, #2D86FB), color-stop(35.94%, #2D86FB), color-stop(81.29%, #2D86FB), color-stop(84.89%, rgba(45, 134, 251, 0.9)), color-stop(88.86%, rgba(45, 134, 251, 0.75)), color-stop(92.84%, rgba(45, 134, 251, 0.55)), to(rgba(45, 134, 251, 0)));
  background: -o-linear-gradient(top, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.15) 2.2%, rgba(45, 134, 251, 0.3) 3.86%, rgba(45, 134, 251, 0.5) 5.11%, rgba(45, 134, 251, 0.7) 6.54%, rgba(45, 134, 251, 0.85) 7.85%, #2D86FB 9.34%, #2D86FB 35.94%, #2D86FB 81.29%, rgba(45, 134, 251, 0.9) 84.89%, rgba(45, 134, 251, 0.75) 88.86%, rgba(45, 134, 251, 0.55) 92.84%, rgba(45, 134, 251, 0) 100%);
  background: linear-gradient(180deg, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.15) 2.2%, rgba(45, 134, 251, 0.3) 3.86%, rgba(45, 134, 251, 0.5) 5.11%, rgba(45, 134, 251, 0.7) 6.54%, rgba(45, 134, 251, 0.85) 7.85%, #2D86FB 9.34%, #2D86FB 35.94%, #2D86FB 81.29%, rgba(45, 134, 251, 0.9) 84.89%, rgba(45, 134, 251, 0.75) 88.86%, rgba(45, 134, 251, 0.55) 92.84%, rgba(45, 134, 251, 0) 100%);
  min-height: 1053px;
}

.reviews__btn {
  margin-top: 120px !important;
  margin: 0 auto;
}

.reviews__title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */
  padding-top: 120px;
  margin-bottom: 48px;
  color: #FFFFFF;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.swiper-button-next2 {
  min-width: 28px !important;
  height: 28px !important;
  position: initial !important;
  background: url("../img/IconRight.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -ms-flex-item-align: end !important;
      align-self: end !important;
}

.swiper-button-prev2 {
  cursor: pointer;
  min-width: 28px !important;
  -ms-flex-item-align: end !important;
      align-self: end !important;
  height: 28px !important;
  position: initial !important;
  background: url("../img/IconLeft.svg");
  background-repeat: no-repeat;
}

.swiper2 {
  padding: 0 !important;
}

.swiper__subtitle {
  max-width: 915px;
  margin-top: 20px;
  color: #3f3e42;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.get__wrap {
  min-width: 407px;
  margin-right: 165px;
}

.get__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  margin-top: 120px;
  color: #18171C;
  margin-bottom: 48px;
}

.get__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper__box {
  max-width: 915px;
}

.swiper__box p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #18171C;
  margin-bottom: 23px;
}

.swiper__box2 {
  max-width: 915px;
  padding-bottom: 20px;
  border-bottom: 1px solid #18171C;
}

.swiper__box2 p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #18171C;
  margin-bottom: 25px;
}

.swiper__box2 span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* Black */
  color: #18171C;
}

.qi {
  min-height: 710px;
}

.qi__bg {
  margin-top: -113px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 134, 251, 0)), color-stop(2.65%, rgba(45, 134, 251, 0.3)), color-stop(5.59%, rgba(45, 134, 251, 0.7)), color-stop(8.25%, #2D86FB), color-stop(35.94%, #2D86FB));
  background: -o-linear-gradient(top, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.3) 2.65%, rgba(45, 134, 251, 0.7) 5.59%, #2D86FB 8.25%, #2D86FB 35.94%);
  background: linear-gradient(180deg, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.3) 2.65%, rgba(45, 134, 251, 0.7) 5.59%, #2D86FB 8.25%, #2D86FB 35.94%);
}

.qi__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qi__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.qi__wrap {
  cursor: pointer;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  max-width: 780px;
  padding-bottom: 25px;
  color: #FAE10B;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 24px;
}

.qi__wrap::before {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  right: 0;
  content: "";
  background: url("../img/IconBottom.svg");
}

.qi__active {
  opacity: 0;
  height: 0;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.qi__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  padding-top: 166px;
  color: #FFFFFF;
  margin-bottom: 56px;
}

.active {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.active::before {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  rotate: 180deg !important;
}

.qi__wrap-size2,
.qi__wrap-size4 {
  border-bottom: none !important;
}

.active {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.active .qi__active {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* White */
  color: #FFFFFF;
  height: 44px;
  margin-top: 37px;
  opacity: 1;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.active .qi__active1 {
  height: 90px !important;
}

.active .qi__active2 {
  height: 70px !important;
}

.active .qi__active3 {
  height: 45px !important;
}

.active .qi__active4 {
  height: 67px !important;
}

.footer {
  margin-top: 27px;
}

.footer__wrapper {
  padding-bottom: 48px;
  padding-top: 35px;
  border-top: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__btn {
  margin-top: 0 !important;
}

.footer__box-social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  display: flex;
}

.footer__box-social p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-right: 45px;
  color: #FFFFFF;
}

.footer__box-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4292fb;
  width: 80px;
  height: 80px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@media (max-width: 2000px) {
  .container {
    padding: 0 165px;
    max-width: 1920px;
  }
}

@media (max-width: 1650px) {
  .container {
    padding: 0 70px;
    max-width: 1650px;
  }
}

@media only screen and (max-width: 1650px) {
  .header .menu__item a img {
    max-width: 20px;
  }

  .qi__wrap {
    font-size: 19px;
  }

  .header .menu__item a {
    font-size: 18px;
    line-height: 22px;
  }

  .active .qi__active {
    margin-top: 25px;
    font-size: 18px;
  }

  .cases {
    margin: 100px auto !important;
  }

  .active .qi__active1 {
    height: 110px !important;
  }

  .reviews {
    min-height: 983px;
  }

  .reviews__btn {
    margin-top: 100px;
  }

  .header .header__menu ul {
    gap: 40px;
  }

  .header .menu__item-tel a {
    padding: 16px 25px;
  }

  .qi__bg {
    margin-top: -109px;
  }

  .footer__box-social a {
    width: 70px;
    height: 70px;
  }

  .footer__box-social a img {
    max-width: 40px;
  }

  .qi {
    min-height: 680px;
  }

  .qi__title {
    padding-top: 146px;
  }

  .get__title {
    margin-top: 100px;
  }

  .default__btn {
    font-size: 20px;
    gap: 30px;
    padding: 15.5px 32.5px;
  }

  .default__btn img {
    max-width: 30px;
  }

  .cases {
    padding-left: 70px;
  }

  .first__social-link a {
    height: 70px;
    width: 70px;
  }

  .first__social-link a img {
    max-width: 40px;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1440px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .section__title {
    font-size: 42px;
  }

  .header .header__menu ul {
    gap: 45px;
    margin-left: 40px;
  }
}

@media (max-width: 1350px) {
  .container {
    max-width: 1340px;
    padding: 0 40px;
  }
}

@media (max-width: 997.98px) {
  .container {
    padding: 0 30px;
    max-width: 998px;
  }

  .btn__outline {
    color: #ffffff;
  }

  .section__title {
    font-size: 34px;
  }

  .header {
    height: 50px;
  }

  .header .navbar {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .burger {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header .burger:before,
  .header .burger:after {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header .burger:before {
    top: 1px;
  }

  .header .burger:after {
    bottom: 0px;
  }

  .header .burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header .burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #DD6200;
  }

  .header .burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background-color: #DD6200;
  }

  .header .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header .header__menu {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 100%;
    padding-top: 50px;
    z-index: 7;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .header .header__menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .header__menu.active {
    left: 0;
  }

  .header .header__menu ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 10px;
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }

  .section__title {
    font-size: 28px;
  }

  header:before {
    display: block;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }

  .section__title {
    line-height: 120%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1240px) and (min-width: 998px) {
  .header .menu__item a {
    font-size: 16px;
    line-height: 22px;
  }

  .first__line {
    display: none;
  }

  .reviews__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .get__wrap {
    margin-right: 35px;
  }

  .active .qi__active1 {
    height: 152px !important;
  }

  .active .qi__active4 {
    height: 80px !important;
  }

  .active .qi__active3 {
    height: 60px !important;
  }

  .swiper__box2 p {
    font-size: 19px;
  }

  .swiper__box2 span {
    font-size: 19px;
  }

  .active .qi__active {
    height: 60px;
  }

  .swiper__subtitle {
    font-size: 19px;
  }

  .reviews {
    padding-bottom: 100px;
    min-height: auto;
  }

  .cases__box {
    padding-right: 40px;
  }

  .swiper__box p {
    font-size: 18px;
    margin-bottom: 18px;
  }

  .swiper__description {
    margin-left: 51px;
  }

  .reviews__title,
  .get__title {
    font-size: 58px;
    line-height: 65px;
  }

  .cases__title {
    font-size: 58px;
    line-height: 65px;
    margin-bottom: 50px;
  }

  .swiper__photo {
    max-width: 252px;
    min-width: 252px;
  }

  .first__socail {
    min-width: 380px;
  }

  .cases {
    padding-left: 40px;
  }

  .about {
    padding-bottom: 80px;
    min-height: auto;
  }

  .about__title {
    padding-top: 77px;
    font-size: 58px;
    line-height: 65px;
  }

  .first__social-link a {
    min-width: 70px;
    min-height: 70px;
  }

  .first__wrap h1 {
    font-size: 57px;
    line-height: 66px;
  }
}

@media only screen and (max-width: 997px) and (min-width: 768px) {
  .header__body {
    margin-top: 27px;
  }

  .reviews__title {
    font-size: 40px;
    line-height: 55px;
    padding-top: 110px;
  }

  .active .qi__active {
    margin-top: 16px !important;
    font-size: 17px;
    line-height: 21px;
  }

  .active .qi__active3 {
    height: 75px !important;
  }

  .active .qi__active4 {
    height: 97px !important;
  }

  .active .qi__active {
    height: 74px;
  }

  .active .qi__active1 {
    height: 180px !important;
  }

  .active .qi__active2 {
    height: 90px !important;
  }

  .qi {
    min-height: 630px !important;
  }

  .cases__btns {
    padding: 15px 22px;
    height: 58px;
  }

  .get__title {
    font-size: 40px;
    line-height: 55px;
  }

  .swiper__box2 p {
    font-size: 19px;
  }

  .swiper__box2 span,
  .swiper__subtitle {
    font-size: 19px;
  }

  .header .burger.active:before {
    top: 8px !important;
  }

  .swiper__box p {
    margin-bottom: 20px;
    font-size: 19px;
  }

  .swiper__name {
    font-size: 44px;
    line-height: 55px;
  }

  .swiper__subtitle span {
    font-size: 19px;
  }

  .swiper__subtitle p {
    font-size: 19px;
  }

  .swiper__photo {
    min-width: 200px;
    max-width: 200px;
  }

  .swiper__description {
    margin-left: 41px;
  }

  .cases {
    margin: 70px auto !important;
    padding-left: 30px !important;
  }

  .cases__title {
    margin-bottom: 36px;
    line-height: 55px;
    font-size: 40px;
  }

  .about__title {
    padding-top: 77px;
    font-size: 40px;
    line-height: 55px;
  }

  .first__social-link {
    gap: 25px;
  }

  .about {
    padding-bottom: 60px;
    min-height: auto;
  }

  .about__subtitle-list ul li {
    font-size: 18px;
  }

  .header .burger:before,
  .header .burger:after,
  .burger span {
    height: 3px !important;
    background: #2D86FB !important;
    border-radius: 10px;
  }

  .first__socail {
    gap: 22px;
    font-size: 18px;
    min-width: auto;
  }

  .header .burger {
    margin-left: auto;
  }

  .first__social-link a {
    min-width: 55px;
    min-height: 55px;
    width: 55px;
    height: 55px;
  }

  .first__social-link a img {
    max-width: 25px;
  }

  .first__wrap h1 {
    margin-top: 0;
    font-size: 40px;
    line-height: 55px;
  }

  .first__line {
    display: none;
  }

  .get__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    overflow: hidden;
  }

  .swiper2 {
    max-width: 728px;
  }

  .footer__box-social {
    gap: 20px;
  }

  .footer__box-social p {
    margin-right: 0;
    font-size: 18px;
  }

  .footer__box-social a {
    width: 55px;
    height: 55px;
  }

  .footer__box-social a img {
    max-width: 30px;
  }

  .qi__wrap {
    padding-right: 33px;
  }

  .default__btn {
    gap: 15px;
    padding: 15.5px 26.5px;
    height: 60px;
    font-size: 18px;
  }

  .reviews__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
  .footer__box-social p {
    margin-right: 0px;
  }

  .footer__wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

  .footer__box {
    margin-top: 0 !important;
  }

  .first__wrap2 {
    margin-top: 0 !important;
  }

  .first__wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

  .first__social-link {
    gap: 18px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 340px) {
  .swiper__subtitle ul li:nth-child(3) {
    top: 227px !important;
  }

  .swiper__container1 {
    min-height: 293px !important;
  }
}

@media only screen and (max-width: 580px) and (min-width: 425px) {
  .about__title,
  .cases__title,
  .reviews__title {
    font-size: 22px;
  }

  .footer__box-social a {
    height: 50px !important;
    min-width: 50px !important;
  }

  .footer__box-social a img {
    max-width: 28px !important;
  }

  .footer__box-social p {
    font-size: 16px !important;
  }

  .first__wrap p {
    font-size: 16px !important;
  }

  .swiper__name {
    font-size: 22px !important;
  }

  .first__btn {
    font-size: 18px !important;
    max-width: 330px !important;
  }

  .swiper__subtitle ul li span,
  .swiper__subtitle ul li p {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 390px) {
  .swiper__container1 {
    min-height: 293px !important;
  }

  .swiper__container2 {
    min-height: 310px !important;
  }

  .active .qi__active {
    max-width: 333px;
    margin-top: 20px;
  }

  .active .qi__active3 {
    height: 40px !important;
  }

  .active .qi__active2 {
    height: 70px !important;
  }

  .active .qi__active4 {
    height: 55px !important;
  }

  .active .qi__active1 {
    height: 103px !important;
  }
}

@media only screen and (max-width: 389px) and (min-width: 320px) {
  .active .qi__active {
    margin-top: 20px;
    height: 53px;
  }

  .active .qi__active3 {
    height: 53px !important;
  }

  .active .qi__active2 {
    height: 85px !important;
  }

  .active .qi__active1 {
    height: 133px !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .header .header__menu ul {
    gap: 30px;
  }

  .header .header__menu {
    background-color: #fff;
  }

  .reviews__wrap {
    min-width: 230px;
  }

  .header .burger:before,
  .header .burger:after,
  .burger span {
    height: 3px !important;
    background: #2D86FB !important;
    border-radius: 10px;
  }

  .header .burger.active:before {
    top: 8px;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 23px;
    padding-top: 64px;
    margin-bottom: 40px;
  }

  .reviews .container {
    padding-right: 0;
  }

  .reviews__btn {
    gap: 15px;
    padding: 10px 29px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
  }

  .reviews__btn img {
    max-width: 26px;
  }

  .qi__active {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .qi {
    min-height: auto;
  }

  .reviews__wrapper {
    gap: 28px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: inherit;
            flex-flow: inherit;
    overflow-x: auto;
  }

  .qi__bg {
    margin-top: -108px;
  }

  .footer__wrapper {
    padding-bottom: 40px;
    padding-top: 0;
    border-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__box-social a {
    height: 40px;
    width: 40px;
    min-width: 40px;
  }

  .footer__box-social a img {
    max-width: 24px;
  }

  .footer__box {
    margin-top: 40px;
  }

  .footer__box-social {
    gap: 23px;
  }

  .footer__box-social p {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__btn {
    padding: 12px 31.5px;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    max-width: 290px;
    gap: 15px;
  }

  .default__btn img {
    max-width: 26px;
  }

  .qi__title {
    padding-top: 82px;
    font-size: 20px;
    line-height: 23px;
  }

  .qi__wrap {
    padding-right: 28px;
  }

  .qi__wrap::before {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    top: -10px;
  }

  .qi__wrap {
    font-size: 14px;
    line-height: 16px;
  }

  .qi__wrap-size2,
  .qi__wrap-size4 {
    border-bottom: 1px solid #FFFFFF !important;
  }

  .qi__container {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .get__wrap {
    margin-top: 5px;
    min-width: auto;
    margin-right: 0;
  }

  .swiper__box2 {
    padding-bottom: 24px;
  }

  .swiper__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .swiper__box {
    margin-bottom: 44px;
  }

  .reviews {
    padding-bottom: 56px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 134, 251, 0)), color-stop(1.92%, rgba(45, 134, 251, 0.3)), color-stop(3.88%, rgba(45, 134, 251, 0.7)), color-stop(5.78%, #2D86FB), color-stop(35.94%, #2D86FB), color-stop(91.86%, #2D86FB), color-stop(94.58%, rgba(45, 134, 251, 0.9)), color-stop(97.17%, rgba(45, 134, 251, 0.55)), to(rgba(45, 134, 251, 0)));
    background: -o-linear-gradient(top, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.3) 1.92%, rgba(45, 134, 251, 0.7) 3.88%, #2D86FB 5.78%, #2D86FB 35.94%, #2D86FB 91.86%, rgba(45, 134, 251, 0.9) 94.58%, rgba(45, 134, 251, 0.55) 97.17%, rgba(45, 134, 251, 0) 100%);
    background: linear-gradient(180deg, rgba(45, 134, 251, 0) 0%, rgba(45, 134, 251, 0.3) 1.92%, rgba(45, 134, 251, 0.7) 3.88%, #2D86FB 5.78%, #2D86FB 35.94%, #2D86FB 91.86%, rgba(45, 134, 251, 0.9) 94.58%, rgba(45, 134, 251, 0.55) 97.17%, rgba(45, 134, 251, 0) 100%);
    min-height: auto !important;
  }

  .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px) !important;
    height: 4px !important;
    width: 4px !important;
    background: #90bbf3 !important;
  }

  .swiper-pagination-bullet-active {
    background: #2D86FB !important;
    height: 8px !important;
    width: 8px !important;
  }

  .swiper__box p,
  .swiper__box2 p,
  .swiper__box2 span {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 16px;
  }

  .get__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .get__title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 40px !important;
  }

  .about__title {
    padding-top: 46px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
  }

  .swiper-wrapper2 {
    -webkit-transform: translate3d(0px, 0, 0) !important;
            transform: translate3d(0px, 0, 0) !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .swiper2 .swiper-slide {
    width: inherit !important;
  }

  .swiper__photo {
    height: 110px;
    min-width: 88px;
    max-width: 88px;
  }

  .swiper1 {
    padding: 0 !important;
    overflow: inherit !important;
  }

  .swiper__subtitle {
    margin-top: 9px;
  }

  .swiper-container {
    display: none;
  }

  .swiper__container1 {
    min-height: 323px;
  }

  .swiper__container2 {
    min-height: 355px;
  }

  .swiper__container3 {
    min-height: 311px !important;
  }

  .swiper__container3 ul li:nth-child(3) {
    top: 231px !important;
  }

  .swiper__container {
    height: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 2.06476px 2.06476px 0px #2D86FB;
            box-shadow: 2.06476px 2.06476px 0px #2D86FB;
    border-radius: 10.3238px;
    position: relative;
  }

  .cases {
    margin: 40px auto !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .cases__title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
  }

  .swiper__subtitle ul li p {
    font-size: 14px;
    line-height: 16px;
  }

  .swiper__subtitle ul li span {
    font-size: 14px;
    line-height: 16px;
  }

  .swiper__subtitle ul li:nth-child(2),
  .swiper__subtitle ul li:nth-child(3) {
    padding-right: 15px;
    left: 0;
    position: absolute;
  }

  .swiper__subtitle ul li:nth-child(2) {
    top: 122px;
  }

  .swiper__subtitle ul li:nth-child(3) {
    top: 261px;
  }

  .swiper__description {
    margin-left: 16px;
  }

  .swiper__name {
    font-size: 20px;
    line-height: 23px;
  }

  .cases__btns {
    display: none;
  }

  .about {
    margin-top: -33px;
    min-height: auto;
    padding-bottom: 62px;
  }

  .about__subtitle-list ul {
    gap: 16px;
  }

  .about__subtitle-list ul li {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 16px;
  }

  .header__logo {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #2D86FB;
    display: block;
  }

  .first__btn {
    max-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 24.5px;
    gap: 16px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 19px;
  }

  .first__btn img {
    max-width: 26px;
  }

  .first__wrap p {
    margin-top: 6px;
    font-size: 14px;
    line-height: 16px;
  }

  .header {
    height: 47px;
    border-bottom: 1px solid #2D86FB;
  }

  .first__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__body {
    margin-top: 25px;
  }

  .first__line {
    display: none;
  }

  .first__wrap h1 {
    display: none;
  }

  .first__wrap2 {
    margin-top: 40px;
  }

  .first__socail {
    max-width: 270px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 40px !important;
    min-width: auto;
  }

  .first__socail a {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }

  .first__socail a img {
    max-width: 24px;
  }
}